node_modules/
dist/
.env
*.log
.DS_Store
ui/node_modules/.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# Vite cache
.vite/

# Large model output (not in repo)
DVA-Data/

# ---- large generated data ----
data/ticket_zcta_lookup.csv

# shapefiles (large / binary)
data/shapefiles/
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.zip

data/dc_parking_data.csv

eda/output_files/
eda/clean_location_blocks.csv
eda/location_blocks.csv
eda/model_data.csv
visualization/feature_data.csv
visualization/.ipynb_checkpoints/Visualization & Charts-checkpoint.ipynb
